{% extends 'layouts/base.html' %}
{% block body %}
<article>
    <section class="section1">
        <div class="titulo" style="font-family:'URW Chancery L', cursive" >
            
            <h1>Studio Lemos</h1>
            <br>
        </div>
        <br><br><br>
    </section>
    <section class="section2">
        <div class="principal" >
            Sou Valéria Lemos e trabalho com design de unhas e sobrancelhas<br>
            há mais de 10 anos. A qual neste tempo, me especializei em diversas<br>
            técnicas para propiciar o melhor serviço para os clientes.<br>
            <br>
            O salão de beleza, Studio Lemos é um salão especializado<br>
            em tratamento para unhas e sobrancelhas, procurando sempre<br>
            realizar o melhor tratamento para o cliente. <br>
            <br>
            Venha conhecer o meu trabalho e o meu studio!



        </div>
    </section>
    <section class="section3">
        <div>
            <br><br><br>

        </div>
    </section>



</article>

<style>
    /* article{
        background-color: whitesmoke;
    } */

    /* .section1,.section2{
        background-color: rgba(146,159,186,0.2);
    } */

    .principal{
        text-align: center;
        background-color: whitesmoke;
        display: block;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
    }

    .titulo{
        text-align: center;
        background-color: whitesmoke;
    }

    h1{
        font-size:40px;
    }



</style>
{% endblock %}