{% extends 'layouts/base.html' %}
{% block body %}

<style>
    .notification{
        text-align: center;
        background-color: blanchedalmond;
        width: 100%;
    }
    
    </style>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
       
        {% for message in messages %}
         <div class="notification">
            {{message}}
         </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    

<form class="row g-3 needs-validation" novalidate action="{{url_for('criar_horario')}}" method="POST" style=" width: 50vw; margin-left : 25vw;">
    <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Data</label>
    <input type="text" name="data" class="form-control" id="validationCustom01" placeholder="Dia/Mes/Ano" required>
    <div class="valid-feedback">
        Parece Bom!
    </div>
    <div class="invalid-feedback">
        A data não pode estar em branco!
    </div>
    </div>

    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Hora</label>
        <input type="text" name="hora" class="form-control" id="validationCustom01" placeholder="Hora:Minuto" required>
        <div class="valid-feedback">
            Parece Bom!
        </div>
        <div class="invalid-feedback">
            A hora não pode estar em branco!
        </div>
        </div>


    <div class="col-12">
    <button class="btn btn-primary" type="submit">Criar Horário</button>
    </div>
    <br>
</form>
<script>
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')
    
      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
    </script>
{% endblock %}