<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Lemos</title>
    <!-- <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="src/static/icons/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Studio Lemos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/admin">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/listar_cliente">Cliente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/listar_agenda">Agenda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/listar_horario">Horario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/listar_procedimento">Procedimento</a>
              </li>
          </ul>
        </div>
      </nav>

</head>

<body>
    
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Data</th>
        <th scope="col">Hora</th>
        <th scope="col"><a href="criar_horario">Criar Horario</a></th>
      </tr>
    </thead>
    <tbody>
        {% for e in horario %} 
      <tr>
        <td>{{e.id}}</td>
        <td>{{e.data}}</td>
        <td>{{e.hora}}</td>

        <td>
            <!-- <a href="/admin/edit_horario/{{e.id}}">Editar</a>
            <br>
            <br> -->
            <a href="/admin/delete_horario/{{e.id}}">Excluir</a>
        </td>
      </tr>
     
      
      {% endfor %}
    </tbody>
  </table>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>